<!DOCTYPE html>
<html lang="en">
	<head>
		<link
			href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=VT323&display=swap"
			rel="stylesheet"
		/>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Gamer's Stats Cave</title>
		<link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" />
	</head>
	<body>
		<header><h1 id="header_title">Gamer's Stats Cave</h1></header>

		<section id="main_content">
        <form action="http://127.0.0.1:5000/find" method = "post" autocomplete="off">
			<input type="text" name="gameName" id="gameName" placeholder="Enter Game's Name..." />
			<input type="submit" value="Search" />
		</form>

		{% for message in get_flashed_messages() %}
        <div class="alert">
			<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
			{{ message }}
		</div>
    	{% endfor %}

		{% block searchresults %}{% endblock %}
		{% block appiddetails %}{% endblock %}
		</section>

		<footer>
			<span id="footer_cred">
				Frontend By Bedkow
				<a href="https://github.com/Bedkow"
					><img class="footer_pic1" alt="github" src="{{ url_for('static', filename='github_icon.png') }}"
				/></a>

				<a href="https://www.linkedin.com/in/bednarek-daniel/"
					><img class="footer_pic2" alt="linkedin" src="{{ url_for('static', filename='linkedin_icon.png') }}"
				/></a>
				| Backend By Lewandowski
				<a href="https://github.com/Lewandowski-commits"
					><img class="footer_pic1" alt="github" src="{{ url_for('static', filename='github_icon.png') }}"
				/></a>

				<a href="https://www.linkedin.com/in/enrulewandowski/"
					><img class="footer_pic2" alt="linkedin" src="{{ url_for('static', filename='linkedin_icon.png') }}"
				/></a>
			</span>
		</footer>
	</body>
</html>
